source_up
source $HOME/export-esp.sh
# init_env.sh
export ESP_IDF_PYTHON_BIN=/usr/bin/python3.11
export ESP_IDF_SYS_ROOT_CRATE=esp_ota_client
echo "Entorno fijado para ESP32-S3: Python 3.11 y Raíz definida."